<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="contact-us">Contact</a></li>
            <li><a href="/attendance-records">Attendance Record</a></li>
            <li><a href="/query">Queries</a></li>
            <li><a href="/reviwes">Reviews</a></li>
            <li><a href="/login">Log-Out</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>About Attendance Management System</h2>
        <p>
            Our Attendance Management System provides a safe and efficient way to track attendance for teachers, staff, and students.
        </p>
        <p>
            With our system, attendance data is securely stored and accessible only to authorized users, ensuring the privacy and confidentiality of personal information.
        </p>
        <p>
            Teachers can easily manage attendance for their classes, while staff members can keep track of their work hours. Students benefit from a streamlined process for marking their attendance, reducing administrative burden and ensuring accurate records.
        </p>
        <p>
            Our system employs advanced security measures to protect against unauthorized access and data breaches, giving users peace of mind regarding the safety of their attendance information.
        </p>
    </div>
</body>


</html>