<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="contact-us">Contact</a></li>
            <li><a href="/attendance-records">Attendance Record</a></li>
            <li><a href="/query">Queries</a></li>
            <li><a href="/reviwes">Reviews</a></li>
            <li><a href="/login">Log-Out</a></li>
        </ul>
    </nav>
    <div class="contact-info">
        <h2>Contact Us</h2>
        <p>If you have any queries or need assistance, feel free to contact us:</p>
        <p><strong>Contact Number:</strong> 7517537095</p>
        <p><strong>Email:</strong> ajaymored@gmil.com</p>
        <p>We're here to help you!</p>
    </div>
</body>

</html>